<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="starwars.mappers.StarWarsMapper">

	<insert id="insertPlanetDetails">
		INSERT INTO STAR_WARS_PLANETS (PLANET_NAME, POSTING_OPERATOR_ID, POSTING_TIMESTAMP)
		VALUES (#{planetName}, #{postingOperatorId}, CURRENT_TIMESTAMP);
	</insert>

</mapper>
